#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 15px;
}
h1 svg {
  width: 45px;
}
.container {
  max-width: 50rem;
  margin: 0 auto;
}

.course-status {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  color: #64748b;
  font-weight: 300;
}
.course-status div {
  cursor: pointer;
}
.course-status .active {
  font-weight: 700;
  color: #334155;
}

.course-item {
  padding: 0.9rem;
  border-radius: 1rem;
  background-color: #fff;
  margin-bottom: 2rem;
  display: flex;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 5%), 0 8px 10px -6px rgb(0 0 0 / 0%);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: 0 0 0px #0000, var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: all ease-in-out .3s;
}
.course-item:hover {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.192),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.course-item__detail {
  flex: 1;
  justify-self: start;
  padding: 1rem 0 1rem 1rem;
}

.course-item__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  flex: 1;
  margin-bottom: 1.5rem;
}

.course-item__body .title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.course-item__body .title a {
  text-decoration: none;
  color: black;
}

.course-item__body .desc {
  font-size: 0.9rem;
  color: #7c7c7c;
}

.course-item__body .rate {
  white-space: nowrap;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.course-item__body .rate svg {
  width: 15px;
  margin: 5px;
  fill: #ffff00;
  filter: drop-shadow(1px 1px 1px black);
}
.course-item__img img {
  width: 15rem;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.course-item__footer .tags {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.course-item__footer .caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-item__footer .date {
  color: #94a3b8;
  font-size: 0.8rem;
}

.course-item__footer .caption .badge {
  font-weight: bold;
}
